{% extends 'base.html' %}
{% load static %}
{% block pageTitle %}
    <title>Add Restaurant (FORM)</title>
{% endblock %}
{% block pageCSS %}
<link href="{% static 'css/edit.css' %}" rel="stylesheet">
{% endblock%}
{% block navigation %}
<!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!"></a> <!--Top left button if you want it -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'all_restaurants' %}">Restaurants</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'add_form' %}">Add</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'update_form' %}">Edit</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'delete_form' %}">Delete</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Add a Restaurant</h1>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Form section with action= url 'restaurant_add' -->
    <section class="py-5 border-bottom" id="features">
        <center>
            <form name="add_restaurant" method="post" action="{% url 'add_form' %}">
                {% csrf_token %}
                <div>
                    <label class="fw-bolder" for="restaurant_style">Restaurant Type (required)</label><br>
                    <select name="restaurant_style" id="restaurant_style" required>
                        <option value="" disabled selected hidden>Select a food type</option>
                        {% for n in styles%}
                        <option value="{{n.id}}">{{n.restaurant_style}} - {{n.restaurant_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <label class="fw-bolder" for="restaurant_name">Name (required)</label><br>
                    <input type="text" name="restaurant_name" id="restaurant_name" required>
                </div>
                <br>
                <div>
                    <label class="fw-bolder" for="restaurant_street">Street Address (required)</label><br>
                    <input type="text" name="restaurant_street" id="restaurant_street" required>
                </div>
                <br>
                <button style="background-color: black; color: white;" id="add_submit" name="add_submit" type="submit">Submit</button>
            </form>
        <center>
    </section>
{% endblock %}
    <script>
        function Check_Zip(that) {
            if (that.value.length > 5) {
                that.value = that.value.slice(0,5);
            }
        };
    </script>